<form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
    <div class="mb-3">
        <label for="oldPassword" class="form-label">Current password*</label>
        <input formControlName="oldPassword"
               type="password"
               id="oldPassword"
               class="form-control"
               [class.is-invalid]="isOldPasswordInvalid || isInvalidCredentials">
        <div app-invalid-feedback [control]="oldPasswordControl" errorName="required">
            This field is required
        </div>
        <div *ngIf="isInvalidCredentials" class="invalid-feedback">
            Invalid current password
        </div>
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">New password*</label>
        <input formControlName="newPassword"
               type="password"
               id="newPassword"
               class="form-control"
               [class.is-invalid]="isNewPasswordInvalid">
        <div app-invalid-feedback [control]="newPasswordControl" errorName="required">
            This field is required
        </div>
        <div app-invalid-feedback [control]="newPasswordControl" errorName="password">
            Invalid password format
        </div>
    </div>
    <div class="mb-3">
        <label for="confirmedPassword" class="form-label">Confirm password*</label>
        <input formControlName="confirmedPassword"
               type="password"
               id="confirmedPassword"
               class="form-control"
               [class.is-invalid]="isConfirmedPasswordInvalid">
        <div app-invalid-feedback [control]="confirmedPasswordControl" errorName="required">
            This field is required
        </div>
        <div app-invalid-feedback [control]="confirmedPasswordControl" errorName="passwordMismatch">
            Password mismatch
        </div>
    </div>
    <app-submit-button [isLoading]="isLoading" [isDisabled]="isPasswordChangeFormInvalid">
        Change
    </app-submit-button>
    <div *ngIf="isSuccessAlertShown" class="alert alert-success mt-3" role="alert">
        Password changed
    </div>
</form>
